@model X.PagedList.IPagedList<Product>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-3">
    <div class="row">
        <div class="col-6">
            <h2 class="text-body-secondary">Product List</h2>
        </div>
        <div class="col-6 text-end py-1">
            <a asp-controller="Product" asp-action="Upsert" role="button" class="btn btn-primary">
                <i class="fa-solid fa-plus fa-beat"> &nbsp;</i> Create New Product
            </a>
        </div>
    </div>
</div>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">
                Title
            </th>
            <th scope="col">
                Description
            </th>
            <th scope="col">
                ISBN
            </th>
            <th scope="col">
                Author
            </th>
            <th scope="col">
                Price
            </th>
            <th scope="col">
                Price50
            </th>
            <th scope="col">
                Price100
            </th>
            <th scope="col">
                Image
            </th>
            <th scope="col">
                Category
            </th>
            <th scope="col">
                CoverType
            </th>
            <th scope="col">
                Action  
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
         <tr class="table-active">
            <td>
                    @item.Title
            </td>
            <td>
                    @item.Description
            </td>
            <td>    
                    @item.ISBN
            </td>
            <td>
                    @item.Author
            </td>
            <td>
                    @item.Price
            </td>
            <td>
                    @item.Price50
            </td>
            <td>
                    @item.Price100
            </td>
            <td>
                <img src="@item.ImageUrl" style="width: 80px;" />
            </td>
            <td>
                    @item.Category.Name
            </td>
            <td>
                    @item.CoverType.Name
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-circle-info">&nbsp;</i></a>

                    <a asp-action="Upsert" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-solid fa-pen-to-square">&nbsp;</i></a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash">&nbsp;</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
           {
                        DisplayLinkToIndividualPages = true,
                        MaximumPageNumbersToDisplay = 10,
                        LiElementClasses = new string[] { "btn-group me-1" },
                        PageClasses = new string[] { "btn btn-secondary" }
           })